@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: "Montserrat";
}
/* ----------------- Principal -------------------*/
.App {
  max-width: 1555px;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  padding: 0 15px;
  box-sizing: border-box;
  text-align: center;
  background-color: #ffffff;
}

/* ----------------NavBar-----------*/
.navbar {
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  box-sizing: border-box;
  background-color: #0d151bba;
  box-shadow: 0 4px 10px #3eecf2;
}

a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #3eecf2;
}
.a2 {
  color: #141314;
  text-decoration: none;
}
.a2:hover {
  color: #aa6dc4;
}
.a3 {
  color: #be3bbe;
  text-decoration: none;
}
.a3:hover {
  color: #aa6dc4;
}
.a4 {
  text-decoration: none;
}
.a4:hover {
  color: #141314;
}
.a5 {
  text-decoration: none;
  cursor: pointer;
}
.a5:hover {
  color: #000000;
  cursor: pointer;
}

.a6 {
  color: #ffffff;
  text-decoration: none;
}
.a6:hover {
  color: #3eecf2;
}

.nav-items {
  display: flex;
  list-style: none;
  text-align: center;
  width: 50vw;
  justify-content: flex-end;
  margin-right: 1rem;
}

.HomeLabel {
  font-size: 18px;
  font-family: "Montserrat";
  color: #dbd1e3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #8dd453;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 10vh;
}
.nav-item a {
  text-decoration: none;
  font-size: 1.1rem;
  margin-right: 2rem;
  padding: 6px 16px;
}

/*--------------Dropdown-------------*/
.services-submenu {
  width: 15rem;
  position: absolute;
  top: 60px;
  list-style: none;
  text-align: start;
}

.services-submenu li {
  background-color: #0d151bba;
  cursor: pointer;
}

.services-submenu.clicked {
  display: none;
}

.submenu-item {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #ffffff;
  padding: 16px;
}

.submenu-item:hover {
  background: #3eecf2;
  width: 87%;
  color: #141314;
}

/*--------------Login---------------*/

.LoginContainer {
  width: 100%;
  height: 100%;
  position: absolute;
}
.login-left-container {
  display: flex;
  width: 50%;
  height: 60vh;
  align-items: center;
  justify-content: center;
  padding: 10px 5px 5px 30px;
}
.LoginContent {
  width: 100%;
  height: 100%;
}

.Login {
  width: 100%;
  height: 100%;
}

.LoginHigher {
  width: 100%;
  height: 30%;
}

.LoginLower {
  width: 85%;
  height: 70%;
  background: #ffffff;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.TitleComponent {
  width: 100%;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LabelTitleComponent {
  font-size: 25px;
  font-family: "Montserrat";
  color: #7b37a4;
  text-align: center;
}
/*input*/
.regularStyle {
  width: 100%;
  height: 45px;
  background: #ffffff;
  /*color: #75468a;*/
  font-size: 16px;
  border: 1px solid #7b37a4;
  outline: none;
  border-radius: 30px;
  padding: 10px 20px;
  box-sizing: border-box;
  font-weight: 600;
  font-family: "Montserrat";
}

.errorStyle {
  width: 100%;
  height: 45px;
  background: rgba(255, 0, 0, 0.05);
  color: #f9314b;
  font-size: 16px;
  border: 1px solid #f9314b;
  outline: none;
  border-radius: 30px;
  padding: 10px 20px;
  box-sizing: border-box;
  font-weight: 600;
  font-family: "Montserrat";
}

.LabelItemComponent {
  font-size: 16px;
  color: #141314;
  font-weight: 600;
  font-family: "Montserrat";
}

.ItemComponent {
  display: flex;
  justify-content: left;
  align-self: flex-start;
  padding: 0px 2px 5px 2px;
}

.inputContainer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.regularButtonLogin {
  background: #7b37a4;
  width: 70%;
  height: 45px;
  border: 1px solid #75468a;
  outline: none;
  border-radius: 35px;
  font-family: "Montserrat";
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
}

.regularButtonActivity {
  background: #d9b4f0;
  width: 20%;
  height: 40px;
  border: 1px solid #75468a;
  outline: none;
  border-radius: 35px;
  font-family: "Montserrat";
  font-size: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  background-size: cover;
  align-items: center;
  font-weight: 400;
}
.regularButtonLogin:hover .regularButtonLogin:active {
  background: #75468a;
  opacity: 0.6;
}

.regularButtonLoginContainer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.errorNotificationLabel {
  font-size: 14px;
  color: #f9314b;
  font-family: "Montserrat";
  padding: 0 0 0 7%;
}

.errorNotificationContainer {
  width: 100%;
  margin-top: -5px;
  margin-bottom: 5px;
}

.modalErrorContainer {
  background: rgba(255, 0, 0, 0.05);
  width: 100%;
  margin: 0 auto 10px auto;
  height: fit-content;
  border-radius: 10px;
  padding: 10px 0 10px 10px;
}

.modalErrorTitle {
  margin: 0;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 800;
  color: #f9314b;
}

.modalErrorText {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 400;
  color: #f9314b;
  margin: 0;
}

.regularButtonLoginDisabled {
  background: rgba(35, 47, 52, 0.05);
  width: 70%;
  height: 45px;
  border: solid 1px rgba(35, 47, 52, 0.4);
  outline: none;
  border-radius: 35px;
  font-family: "Montserrat";
  font-size: 16px;
  color: rgba(35, 47, 52, 0.4);
  font-weight: 400;
}

.ItemUserLogin {
  width: 100%;
}

.ItemPasswordLogin {
  width: 100%;
}

.LabelTitleComponent {
  width: 100%;
  padding: 2px 0 15px 0;
}

@media screen and (min-width: 1030px) {
  .Login {
    width: 40%;
    height: auto;
    margin-top: 90px;
    padding: 20px 0 20px 0;
    box-shadow: 5px 15px 20px 15px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    box-sizing: content-box;
    background: #ffffff;
  }
  .LoginContent {
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
  }
  .LabelTitleComponent {
    margin-top: 5px;
  }
  .ItemPasswordLogin {
    margin-top: 3px;
    margin-bottom: 10px;
    width: 100%;
  }
  .LabelItemComponent {
    margin-top: 1px;
  }
  .LoginLower {
    width: 85%;
    padding: -15px 30px 10px 30px;
  }
  .ItemUserLogin {
    width: 100%;
  }
}

/*---------CREATE USER --------------*/
.formCreateUser {
  width: 80%;
  margin: auto;
  align-items: center;
  background-size: cover;
  justify-content: center;
  padding: 0px 30px 10px 20px;
  box-shadow: 5px 15px 20px 15px rgba(0, 0, 0, 0.16);
  flex-direction: row;
}

@media screen and (min-width: 1300px) {
  .createUserContent {
    width: 40%;
    height: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    flex-direction: row;
    color: #8dd453;
    padding: 90px 30px 10px 30px;
  }

  /*---------CREATE PROYECT--------------*/

  .formCreateProyect {
    width: 80%;
    margin: auto;
    align-items: center;
    background-size: cover;
    justify-content: center;
    padding: 10px 30px 10px 30px;
    box-shadow: 5px 15px 20px 15px rgba(0, 0, 0, 0.16);
    flex-direction: row;
    font-family: "Montserrat";
    background-color: #ffffff;
  }

  

  /*------------- User Activities -------------*/

  .userActivities {
    width: 100%;
    height: 60%;
    /* display: flex; */
    margin: auto;
    padding: 100px 30px 10px 30px;
  }

  @media screen and (min-width: 1300px) {
    .container {
      width: 80%;
      height: 60%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      flex-direction: row;
      color: #141314;
      padding: 0px 30px 10px 30px;
    }
  }

   .Table {
    width: 900%;
    margin-top: 40px;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    padding: 40px 30px 10px 30px;
    box-shadow: 5px 15px 20px 15px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    font-family: "Montserrat";
  }

  TableRow:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
  }

  th {
    background-color: #1abc9c;
    font-weight: bold;
    text-align: center;
    margin: 15px;
    font-family: "Montserrat";
  }
  
  th,
  td {
    /* width: 15%; */
    font-family: "Montserrat";
    height: 10%;
    text-align: left;
    vertical-align: top;
    font-weight: bold;
    border-collapse: collapse;
    border: 1px solid rgb(195, 188, 188);
  } 

  .buttonDelete {
    background-color: #f44336;
    border: none;
    margin-left:30px ;
    color: white;
    padding: 0px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #f34c4c;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 30px;
    cursor: pointer;
  }
  .button{
    margin: 13px 12px 12px 10px;
    cursor: pointer;
  }
  .select{
    color: #000000;
  
    padding: 0px 10px 5px 5px;

  }
  .statistics {
    
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.12);
    padding: 10px 5px 5px 5px;
  
   
  }
  .item-statistics {
   
    display: flex;
    justify-content: center;
    padding: 5px 5px 5px 2px;
  }
  .date{
    padding: 5px 30px 10px 10px;
  }
}

